[redmine]
host = https://support.komputronikbiznes.pl/
# api_key - każdy user korzystający z aplikacji musi w swoim profilu odnaleźć, skopiować i wkleić api_key
api_key = 
# api_key =

[slownik]
# Opis wykonania na liście "Wykonanie z listy" --- Wartości oddzielane znakiem #
opis_wykonania = -#Daily + rejestracja czasu pracy#Urlop#L4#Spotkanie projektowe#Spotkanie z Klientem#Spotkanie wewnętrzne zespołu#Tworzenie dokumentacji

# Miesiąc do rozliczeń --- Wartości oddzielane znakiem #
miesiac_do_rozliczen = 2022-09#2022-08#2022-07
